Repository hmcts/rpx-xui-webapp, pull requests merged in 2023-09, with the labels that each got.

#3205 ExUI-659 MV Upgrade to v2.9.5
  charts/xui-webapp/values.preview.template.yaml
  package.json
  src/app/components/media-viewer-wrapper/media-viewer-wrapper.component.html
  src/app/components/media-viewer-wrapper/media-viewer-wrapper.component.spec.ts
  src/app/components/media-viewer-wrapper/media-viewer-wrapper.component.ts
  yarn-audit-known-issues
  yarn.lock
Labels: ns:xui, prd:xui, rel:xui-webapp-pr-3205

#3234 COT-477 Add ET to default.json in the rpx-xui-webapp
  api/configuration/waSupportedServicesCaseTypesHelper.spec.ts
  api/globalSearch/index.spec.ts
  charts/xui-webapp/values.preview.template.yaml
  config/custom-environment-variables.json
  config/default.json
Labels: ns:xui, prd:xui, rel:xui-webapp-pr-3234

#3258 cve suppress
  charts/xui-webapp/values.preview.template.yaml
  yarn-audit-known-issues
Labels: ns:xui, prd:xui, rel:xui-webapp-pr-3258

#3235 EXUI-766-corrected wrong field name
  api/hearings/data/hearingRequests.mock.data.ts
  api/hearings/models/requestDetails.model.ts
  charts/xui-webapp/values.preview.template.yaml
  src/app/app-utils.ts
  src/app/app.constants.ts
  src/hearings/containers/request-hearing/hearing-requirements/hearing-requirements.component.spec.ts
  src/hearings/converters/additional-security.amended.converter.spec.ts
  src/hearings/converters/date-request-submitted.answer.converter.ts
  src/hearings/hearing.test.data.ts
  src/hearings/models/requestDetails.model.ts
  src/hearings/store/reducers/hearing-request-to-compare.reducer.spec.ts
  src/hearings/store/reducers/hearing-request.reducer.spec.ts
  src/hearings/store/reducers/hearing-request.reducer.ts
  yarn-audit-known-issues
Labels: ns:xui, prd:xui, rel:xui-webapp-pr-3235, enable_keep_helm

#3261 COT-442 CIVIL - Investigate Locations lookup calls for service from xui
  api/locations/data/serviceCourtType.mapping.ts
  api/locations/index.spec.ts
  yarn-audit-known-issues
Labels: ns:xui, prd:xui, rel:xui-webapp-pr-3261

#3187 EXUI-424-added appinsights logs for task completion
  api/workAllocation/index.ts
  charts/xui-webapp/values.preview.template.yaml
  src/work-allocation/containers/task-action/task-action-container.component.spec.ts
  src/work-allocation/containers/task-action/task-action-container.component.ts
  src/work-allocation/services/work-allocation-task.service.spec.ts
  src/work-allocation/services/work-allocation-task.service.ts
  yarn-audit-known-issues
Labels: ns:xui, prd:xui, rel:xui-webapp-pr-3187, enable_keep_helm

#3268 exui-839-revert the change of new param
  api/workAllocation/index.ts
  charts/xui-webapp/values.preview.template.yaml
  src/work-allocation/containers/task-action/task-action-container.component.spec.ts
  src/work-allocation/containers/task-action/task-action-container.component.ts
  src/work-allocation/services/work-allocation-task.service.spec.ts
  src/work-allocation/services/work-allocation-task.service.ts
Labels: ns:xui, prd:xui, enable_keep_helm, rel:xui-webapp-pr-3268

#3265 pipeline issues fixes
  .nvmrc
  Jenkinsfile_nightly
  charts/xui-webapp/values.preview.template.yaml
  package.json
Labels: ns:xui, prd:xui, rel:xui-webapp-pr-3265

#3264 EUI-8679/8770: WorkbasketFiltersComponent and JudicialUser field fixes
  charts/xui-webapp/values.preview.template.yaml
  package.json
  yarn.lock
Labels: ns:xui, prd:xui, enable_keep_helm, rel:xui-webapp-pr-3264

#3246 Test PR for fix for EXUI-623
  charts/xui-webapp/values.preview.template.yaml
  package.json
  yarn.lock
Labels: ns:xui, prd:xui, enable_keep_helm, rel:xui-webapp-pr-3246

#3280 Add renovate.json file to .github folder
  .github/renovate.json
  charts/xui-webapp/values.preview.template.yaml
  yarn-audit-known-issues
Labels: ns:xui, prd:xui, rel:xui-webapp-pr-3280

#3275 exui-837-Data loss stepping back/forward through journey
  .github/renovate.json
  charts/xui-webapp/values.preview.template.yaml
  package.json
  yarn.lock
Labels: ns:xui, prd:xui, enable_keep_helm, rel:xui-webapp-pr-3275

#3298 Revert "exui-837-Data loss stepping back/forward through journey"
  .github/renovate.json
  charts/xui-webapp/values.preview.template.yaml
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:xui, prd:xui, rel:xui-webapp-pr-3298
